/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-family: var(--fonts);
  font-variation-settings: "wght" var(--weight-text);
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  border: 2px solid var(--border);
  width: clamp(371px, 50%, 696px);
  margin: 102px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: var(--bg-color);
  background-size: cover;
  padding-block-start: 140px;
  padding-block-end: 19px;
}

.header__label {
  color: var(--accent-color);
  font-family: var(--accent-fonts);
  font-weight: var(--weight-text);
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.header__text {
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  line-height: 53px;
  margin-block-start: -17px;
  font-family: var(--accent-fonts);
  font-weight: var(--weight-text);
  text-transform: uppercase;
  text-align: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-block-start: -26px;
}

.button {
  cursor: pointer;
}

.theme-menu__button {
  padding-inline-start: 22px;
  text-transform: uppercase;
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  font-family: var(--accent-fonts);
  font-style: var(--accent-color);
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  color: var(--accent-color);
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.theme-menu__button:not(:focus-visible::after) {
  transform: scale(0);
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
  width: 100%;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 51px;
}

.content {
  background-color: var(--bg-color);
  width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  border: 2px solid var(--border);
  padding-block-end: 23px;
}

.content__title {
  font-variation-settings: "wght" var(--weight-title);
  max-width: 100%;
  font-size: 18px;
  line-height: 21.78px;
  padding: 6px 8px;
}

.content__image {
  object-fit: cover;
  object-position: center;
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

.content__text {
  font-size: 18px;
  line-height: 21px;
  padding: 27px 23px 0;
}

.content__image__brightness {
  filter: brightness(90%);
}

.content__image__saturate {
  filter: saturate(3.5);
}

.content__image__opacity {
  filter: opacity(56%);
}

.content__image__invert {
  filter: invert(82%);
}

.content__image__grayscale {
  filter: grayscale(80%);
}

.content__image__blur {
  filter: blur(7px);
}

.content__image__drop-shadow-invert {
  filter: drop-shadow(4px 4px red) invert(100%) hue-rotate(0.5turn);
}

.wrapper {
  position: relative;
  min-block-size: 375px;
  border-block-start: 2px solid var(--border);
  border-block-end: 2px solid var(--border);
}

.card-lable {
  position: absolute;
  z-index: 1;
  inset-inline-end: 24px;
  inset-block-start: 22px;
  font-family: var(--accent-fonts);
  font-weight: var(--weight-text);
  font-size: 14px;
  opacity: 50%;
  mix-blend-mode:hard-light;
  text-shadow: 
  1px 0 0 var(--text-shadow),
  0 1px 0 var(--text-shadow),
  -1px 0 0 var(--text-shadow),
  0 -1px 0 var(--text-shadow);
}

@supports((text-stroke: 1px var(--text-shadow)) or (-webkit-text-stroke: 1px var(--text-shadow))) {
  .card-lable {
      -webkit-text-stroke: 1px var(--text-shadow);
      text-stroke: 1px var(--text-shadow);
      text-shadow: none;
  }
}

.content__list {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  padding-block-start: 25px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 3px 0;
  max-block-size: 38px;
  transition: border 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  border: 2px solid var(--border);
  box-shadow: 2px 2px 0 var(--border);
}

.card__like-button {
  cursor: pointer;
  margin-right: 25px;
  padding: 10px 35px 7px;
  min-height: 38px;
  min-inline-size: 130px;
  max-inline-size: 130px;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--border);
}

.button__text {
  mix-blend-mode: difference;
  font-family: var(--accent-fonts);
  font-weight: var(--weight-text);
  font-size: 14px;
  line-height: 12.6px;
  position: relative;
  z-index: 1;
  color: var(--text-button);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid var(--border);
  position: relative;
  transition:  0.3s ease;
  background-color: transparent;
}

.button:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--border);
}

.button:hover {
  cursor: pointer;
}

.button:after{
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::after {
  transform: scale(1);
  width: 100%;
}

.sparks {
  opacity: 0;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 40px;
  margin-block-end: 40px;
}

.footer-button {
  display: flex;
  flex-direction: row;
  min-inline-size: 335px;
  min-height: 55px;
  align-items: center;
  justify-content: center;
  gap: 9px;
  margin: 0 auto;
  transition: box-shadow 0.3s ease;
  background-color: var(--bg-color);
}

.footer__floppy {
  color: var(--accent-color);
  mix-blend-mode: difference;
}

dialog::backdrop {
  background-color: #000000;
  opacity: 75%;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  gap: 30px;
  min-width: 341px;
  padding: 32px 42px;
  border: 2px solid var(--border);
}

.modal__descroption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__title {
  font-family: var(--accent-fonts);
  font-weight: var(--weight-text);
  font-size: 14px;
  line-height: 21px;
  max-width: 198px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.modal__text {
  text-transform: uppercase;
  color: var(--text-button);
}

.modal_button {
  max-height: 38px;
}

.modal__icon {
  color: var(--accent-color);
}

.dialog-button {
  padding-block-start: 9px;
  padding-block-end: 9px;
}

@media (width <= 375px) {
  .header {
    padding-block-start: 119px;
    gap: 18px;
  }

  .content__text {
    padding: 24px 25px 0;
  }

  .content__list {
    padding-block-start: 27px;
  }

  .theme-menu__list {
    margin-block-start: -15px;
  }

  .card-lable{
    inset-inline-end: 11px;
  }

  .content__title {
    max-width: 362px;
  }

  .footer-button {
    flex-direction: column;
    min-inline-size: 310px;
    min-block-size: 84px;
}
}




