/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-family: var(--fonts), sans-serif;
  font-variation-settings: "wght" var(--weight-text);
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--border);
  width: clamp(371px, 50%, 696px);
  margin: 100px auto;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__label {
  color: var(--accent-color);
  font-family: var(--accent-fonts);
  font-weight: var(--weight-text);
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  text-decoration: none;
  line-height: 49px;
  text-align: center;
  margin-top: clamp(7.625rem, 7.2729rem + 1.5023vw, 8.625rem);
  margin-left: auto;
  margin-right: auto;
}

.header__text {
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  line-height: 14px;
  font-family: var(--accent-fonts);
  font-weight: var(--weight-text);
  text-transform: uppercase;
  text-align: center;
  padding-block-end: 4px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.theme-menu__button {
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 14px;
  font-family: var(--accent-fonts);
  font-style: var(--accent-color);
  transition: opacity 0.3s ease;
}

.theme-menu {
  margin-top: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  margin-bottom: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:before {
  content: "▶";
  display: inline-block;
  line-height: 14px;
  font-family: var(--accent-fonts);
  transition: width 0.3s ease;
}

.theme-menu__button:not(:focus-visible::before) {
  transform: none;
}

.theme-menu__button:focus-visible::before {
  transform: scale(1);
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.content {
  width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  border: 2px solid var(--border);
  padding-block-end: 20px;
}

.content__title {
  font-family: var(--fonts);
  font-weight: var(--weight-title);
  font-size: 18px;
  line-height: 21.78px;
  padding: 6px 10px;
}

.line-break::before {
  content: "\A";
  display: block;
}

.content__image {
  width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  object-fit: cover;
  object-position: center;
}

.content__text {
  font-family: var(--fonts);
  font-weight: var(--weight-text);
  font-size: 18px;
  line-height: 21px;
  padding: 23px 25px 0;
}

.content__image__brightness {
  filter: brightness(90%);
}

.content__image__saturate {
  filter: saturate(3.5);
}

.content__image__opacity {
  filter: opacity(56%);
}

.content__image__invert {
  filter: invert(82%);
}

.content__image__grayscale {
  filter: grayscale(80%);
}

.content__image__blur {
  filter: blur(7px);
}

.content__image__drop-shadow-invert {
  filter: drop-shadow(4px 4px red) invert(100%) hue-rotate(0.5turn);
}

.wrapper {
  position: relative;
}

.stroke  {
  position: absolute;
  z-index: 1;
  -webkit-text-stroke: 1px var(--text-stroke);
  inset-inline-end: 12px;
  inset-block-start: 20px;
}

.card-lable {
  color: var(--label);
  font-family: var(--accent-fonts);
  font-size: 14px;
  opacity: 50%;
  background-blend-mode:hard-light;
}

@supports((card-lable: 1px var(--label)) or (-webkit-card-lable: 1px var(--label))) {
  p {
      -webkit-card-lable: 1px var(--label);
      text-stroke: 1px var(--label);
      text-shadow: none;
  }
}

.content__list {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  padding-block-start: 26px;
}

.card__icon-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 3px 0;
  max-block-size: 38px;
}

.card__like-button {
  background-color: transparent;
  margin-right: 25px;
  padding: 10px 35px 7px;
  border: 2px solid var(--border);
  transition: box-shadow 0.3s ease;
  max-block-size: 38px;
  min-inline-size: 130px;
  max-inline-size: 130px;
}

.button__text {
  font-family: var(---accent-fonts);
  font-weight: var(--weight-text);
  font-size: 14px;
  line-height: 12.6px;
  position: relative;
  z-index: 1;
}

.button {
  border: 2px solid var(--border);
  position: relative;
  transition: 0.5s ease-in-out;
  background-color: transparent;
}

.card__like-button:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}

.card__like-button:hover {
  cursor: pointer;
}

.card__like-button:after{
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button:hover::after {
  transform: scale(1);
}

.button__text:hover{
  z-index: 1;
  color: var(--accent-color);
  background-blend-mode: difference;
  transform: scale(1);
}

.sparks {
  opacity: none;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--border-color);
  transition: 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 40px;
}

.footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-inline-size: 306px;
  min-block-size: 80px;
  margin: 0 auto;
  transition: box-shadow 0.3s ease;
}

.footer__floppy {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--accent-color);
}
.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  box-shadow: 2px 2px 0 var(--border);
}

.footer__button-icon {
  color: var(--accent-color);
  mix-blend-mode: difference;
}

dialog::backdrop {
  background-color: #000000;
  opacity: 75%;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  gap: 30px;
  min-width: 341px;
  padding: 32px 42px;
  border: 2px solid var(--border);
}

.modal__descroption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__title {
  font-family: var(--accent-fonts);
  font-weight: var(--weight-text);
  font-size: 14px;
  line-height: 21px;
  max-width: 198px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.modal__text {
  text-transform: uppercase;
  position: absolute;
  color: var(--accent-color);
}

.modal_button {
  max-height: 38px;
}

.modal__icon {
  color: var(--accent-color);
}

.dialog-button:focus {
  outline: none;
}

.dialog-button:focus-visible {
  box-shadow: 2px 2px 0 var(--border);
}


